<h1>Student app</h1>

<ul>
  <!-- Looping through the 'students' array using Angular's *ngFor directive -->
  <li *ngFor="let x of students">
    <!-- Displaying the student's name and age -->
    {{x.name}} - {{x.age}}
  </li>
</ul>

<ol>
  <!--custom 'for' loop to iterate through the students array -->
  @for(student of students; track student){
    <!-- Display student name and age -->
    <li>{{student.name}} - {{student.age}}</li>
  }
</ol>

<h1>Weather in Galway</h1>

<!-- Using a custom loop to iterate through 'weather' -->
@for(w of weather; track w){
  <!-- Display weather information -->
  <p>{{w.main}} - {{w.description}}</p>
}
